<script>
export default {
  name: `ptx-table`,
  functional: true,
  render(createElement, context) {
    return createElement(
      `a-table`,
      {
        ...context.data,
        props: {
          ...context.props
        },
        class: (context.data.staticClass || "") + " ptx_table",
        style: {
          width: context.props.width,
          ...context.data.staticStyle
        }
      },
      [
        context.slots().default //  also pass default slot to child
      ]
    );
  }
};
</script>
<style scoped>
.editable-row-operations a {
  margin-right: 8px;
}
</style>