<template>
  <div id="app">
    <ptx-button type="primary" @click="parentClick">button</ptx-button>
    <br />
    <ptx-table :columns="columns" :data-source="data2" />
    <br />
    <ptx-pagination @change="change" @showSizeChange="showSizeChange" :total="100"></ptx-pagination>
    <br />
    <ptx-select default-value="lucy" style="width: 120px" @change="handleChange">
      <ptx-select-option value="jack">
        Jack
      </ptx-select-option>
      <ptx-select-option value="lucy">
        Lucy
      </ptx-select-option>
      <ptx-select-option value="disabled" disabled>
        Disabled
      </ptx-select-option>
      <ptx-select-option value="Yiminghe">
        yiminghe
      </ptx-select-option>
    </ptx-select>
    <br />
    <ptx-range-picker></ptx-range-picker>
    <br />
    <ptx-carousel autoplay arrows>
      <div
        slot="prevArrow"
        slot-scope="props"
        class="custom-slick-arrow"
        style="left: 10px;zIndex: 1"
      >
        <ptx-icon type="left-circle" />
      </div>
      <div slot="nextArrow" slot-scope="props" class="custom-slick-arrow" style="right: 10px">
        <ptx-icon type="right-circle" />
      </div>
      <div>
        <h3>1</h3>
      </div>
      <div>
        <h3>2</h3>
      </div>
      <div>
        <h3>3</h3>
      </div>
      <div>
        <h3>4</h3>
      </div>
    </ptx-carousel>
    <br />
    <div>
      <a-button type="primary" @click="showModal">Open Modal with async logic</a-button>
      <ptx-modal
        title="Title"
        :visible="visible"
        :confirm-loading="confirmLoading"
        @ok="handleOk"
        @cancel="handleCancel"
      >
        <p>{{ ModalText }}</p>
      </ptx-modal>
    </div>

    <br />
    <ptx-spin></ptx-spin>
    <br />
    <ptx-upload
     name="file"
    :multiple="true"
    action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    :headers="headers"
    @change="handleChange2">
    <a-button> <ptx-icon type="upload" /> Click to Upload </a-button>
    </ptx-upload>
    <br />
    <ptx-checkbox>点击选中</ptx-checkbox>
    <br />
  </div>
</template>

<script>
// const data = [];

// import newButton from './components/HelloWorld'
export default {
  // components:{'new-button':newButton},
  name: "App",
  data() {
    return {
      headers: {
        authorization: 'authorization-text',
      },
      ModalText: "Content of the modal",
      visible: false,
      confirmLoading: false,
      data2: [],
      columns: [
        {
          title: "name",
          dataIndex: "name",
          width: "25%",
          scopedSlots: { customRender: "name" },
        },
        {
          title: "age",
          dataIndex: "age",
          width: "15%",
          scopedSlots: { customRender: "age" },
        },
        {
          title: "address",
          dataIndex: "address",
          width: "40%",
          scopedSlots: { customRender: "address" },
        },
        {
          title: "operation",
          dataIndex: "operation",
          scopedSlots: { customRender: "operation" },
        },
      ],
    };
  },
  mounted() {
    for (let i = 0; i < 100; i++) {
      this.data2.push({
        key: i.toString(),
        name: `Edrward ${i + 1}`,
        age: 32 + i,
        address: `London Park no. ${i + 1}`,
        operation: `Aoperation Long ${i + 1}`,
      });
    }
  },
  methods: {
    handleChange(value) {
      console.log(`selected ${value}`);
    },
     handleChange2(info) {
      if (info.file.status !== 'uploading') {
        console.log(info.file, info.fileList);
      }
      if (info.file.status === 'done') {
        this.$message.success(`${info.file.name} file uploaded successfully`);
      } else if (info.file.status === 'error') {
        this.$message.error(`${info.file.name} file upload failed.`);
      }
    },
  
    showModal() {
      this.visible = true;
    },
    handleOk(e) {
      this.ModalText = "The modal will be closed after two seconds";
      this.confirmLoading = true;
      setTimeout(() => {
        this.visible = false;
        this.confirmLoading = false;
      }, 2000);
    },
    handleCancel(e) {
      console.log("Clicked cancel button");
      this.visible = false;
    },

    parentClick() {
      alert("123");
    },
    afterChange(a, b) {
      console.log(a, b, "1");
    },
    beforeChange(a, b) {
      console.log(a, b, "11");
    },
    prev(a, b) {
      console.log(a, b, "111");
    },
    goto(a, b) {
      console.log(a, b, "1111");
    },
    next(a, b) {
      console.log(a, b, "11111");
    },
    fv() {
      alert(444555);
    },
    change(page, pageSize) {
      console.log(page, pageSize, "a");
    },
    showSizeChange(current, size) {
      console.log(current, size, "b");
    },
  },
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
